writeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://example.com/soap-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/soap-web-service" targetNamespace="http://example.com/soap-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/soap-web-service">

    <xs:element name="GetHelloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetHelloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="greeting" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="WriteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="WriteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="WriteRequest">
    <wsdl:part element="tns:WriteRequest" name="WriteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetHelloResponse">
    <wsdl:part element="tns:GetHelloResponse" name="GetHelloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WriteResponse">
    <wsdl:part element="tns:WriteResponse" name="WriteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetHelloRequest">
    <wsdl:part element="tns:GetHelloRequest" name="GetHelloRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloPortType">
    <wsdl:operation name="Write">
      <wsdl:input message="tns:WriteRequest" name="WriteRequest">
    </wsdl:input>
      <wsdl:output message="tns:WriteResponse" name="WriteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHello">
      <wsdl:input message="tns:GetHelloRequest" name="GetHelloRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetHelloResponse" name="GetHelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloPortTypeSoap11" type="tns:HelloPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Write">
      <soap:operation soapAction=""/>
      <wsdl:input name="WriteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="WriteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHello">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetHelloRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloPortTypeService">
    <wsdl:port binding="tns:HelloPortTypeSoap11" name="HelloPortTypeSoap11">
      <soap:address location="https://d06c-5-91-232-44.ngrok-free.app:80/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>%   